<%- include('header.html'); -%>
  <form id="fileSenderForm">
    <label for="file">File to share</label>
    <input type="file" name="file" id="fileField" accept="image/png, image/jpeg, video/mp4, audio/mp3, .ogg, audio/vorbis, application/pdf, application/zip"/><br>
    <input type="submit" value="Share !">
  </form>
  <p id="responseLink"></p>
  <div class="loader" id="fileSendingLoader"></div>
  <p><strong id="errorMessage"></strong></p>

  <script src="js/sendFile.js"></script>
<%- include('footer.html'); -%>